<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img src="assets/posters/pulp_fiction.jpg"></ion-img>

    <ion-card-header>
      <ion-card-title>Titulo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>
        <p><b>Director:</b></p>
        <p><b>Año:</b></p>
        <p><b>Sinopsis:</b></p>
      </ion-label>
    </ion-card-content>
  
  </ion-card>
</ion-content>
